
.mainsecurity {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #2e86c1,#5dade2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


.security {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 40px 30px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  
  animation: fadeIn 1s ease-out;
}

.security h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffc107;
}

.security form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.security form input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 350px;
  font-size: 1rem;
  background: #f8f9fa;
  color: #333;
  transition: all 0.3s;
}

.security input:focus {
  background: #e9ecef;
  box-shadow: 0 0 5px #ffc107;
}

.security form button {
  margin-top: 30px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background: #ffc107;
  color: #000;
  font-weight: bold;
  width: 35%;
  cursor: pointer;
  transition: all 0.3s;
}

.security form button:hover {
  background: #e0a800;
  transform: translateY(-3px);
}

.securityrender {
  margin-top: 20px;
}

.securityrender p {
  font-size: 0.9rem;
  color: #adb5bd;
}

.securityrender a {
  color: #ffc107;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.securityrender a:hover {
  color: #e0a800;
  text-decoration: underline;
}

p {
  font-size: 0.9rem;
  color: #dc3545;
  margin-top: 15px;
}


@media (max-width: 600px) {
  .security {
    width: 100%;
    padding: 30px 20px;
  }

  form input, form button {
    font-size: 0.9rem;
  }

  .security h2 {
    font-size: 1.5rem;
  }
}
